<%= form_for @conn, Routes.baby_path(@conn, :index), [as: :secret], fn f -> %>
  <%= text_input f, :key %>
  <%= text_input f, :encode %>
  <%= text_input f, :decode %>

  <%= submit "Search" %>
<% end %>